
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btnCategorias {
  padding: 16px;
  font-size: 25px;
  font-weight: bold;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
  text-align: center;
}

.logo {
  width: 50px;
}

.cardProduct {
  border-radius: 10px;
  overflow: hidden;
  
}

.cardContainer:hover{
    box-shadow: 0 10px 20px rgba(104, 3, 107, 0.616);
}

.cardImage{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
}

.cardImage:hover{
transform: scale(1.1);
}

.css-k008qs {
  background-color: rgb(57, 9, 102);
}